body {
    background-color: rgb(243, 243, 96);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.countDown {
    font-size: 100px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    color: brown;
}

.stop {
    font-size: 40px;
    text-align: center;
    display: none;
    margin-top: 100px;
}